/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul#images li {
    width: 200px;
    height: 300px;
    margin: 40px;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    margin: 25px;
    max-height: 200px;
}

ul#images li button {
    display: inline-block;
    margin-left: 25px;
}
.image-date {
  margin-left: 25px;
}

ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}













